@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .details-container{
    margin-top: 20%;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
    display: block;
  }
  .project-description{
    font-size: 30px;
  }
  .project-description1{
    font-size: 25px;
  }
  .contact-info-container p{
    font-size: 30px;
    font-weight: 500;
    text-align: justify;
  }
  .icon{
    height: 60px;
  }
  .btn-color-1, .btn-color-2:hover {
    font-size: 18px;
  }
  .title{
    font-size: 75px;
  }
  .section__text__p1{
    font-size: 40px;
  }
  .section__text__p2 {
    font-size: 40px;
  }
  #socials-container{
    margin-top: 10%;
  }
  h2{
    font-size: 40px;
  }
  h4{
    font-size: 25px;
  }
  p{
    font-size: 25px;
  }
  h3{
    font-size: 23px;
  }
  a{
    font-size: 17px;
  }
  .contact-info-upper-container{
    display: block;
  }
  .btn-color-2{
    font-size: 20px;
  }
  #contact{
    margin-top: 10%;
  }
  footer {
    height: 10vh;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    margin-bottom: 50px;
    /* height: 40vh; */
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 5px;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .contact-info-container p{
    font-size: 1.5rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  #projects {
    margin-bottom: 200px;
    height: fit-content;
  }
}
